<div class="sidebar-container">
  <div class="sidebar-header">
    <div class="logo">
      <mat-icon class="logo-icon">calendar_today</mat-icon>
      <h2>Appointments</h2>
    </div>
  </div>
  
  <mat-nav-list class="nav-list">
    <a mat-list-item 
       *ngFor="let item of menuItems" 
       [routerLink]="item.route"
       [class]="'nav-item ' + getRouteClass(item.route)"
       class="nav-item">
      <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
      <span matListItemTitle>{{ item.title | translate }}</span>
      <span matListItemMeta *ngIf="item.badge" class="badge">
        <mat-icon [matBadge]="item.badge" matBadgeColor="warn" matBadgeSize="small">
          notifications
        </mat-icon>
      </span>
    </a>
  </mat-nav-list>
  
  <mat-divider></mat-divider>
  
  <div class="sidebar-footer">
    <div class="footer-info">
      <p class="version">v1.0.0</p>
      <p class="status">
        <mat-icon class="status-icon">circle</mat-icon>
        {{ 'common.online' | translate }}
      </p>
    </div>
  </div>
</div>
